@charset "utf-8";
/* CSS Document */

	footer, span{
		background-color:#FCF;}
		
	h2 {
		font-size: 1.8 rem ;
		line-height: 2.6rem;
    	font-weight: 400;
		color:#F00;
	}
	
	.h2div {
		font-size: 1.8 rem ;
		line-height: 2.6rem;
    	font-weight: 400;
		color:#F00;
	}
	.hello {
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		color: aqua;
	}
	#h2xyz {
		font-size: 1.8 rem ;
		line-height: 2.6rem;
    	font-weight: 400;
		color:#F00;
	}
	